
.message-apply{
    float: right;
    position: absolute;
    left: 760px;
    top: -13px;
}
.fa-globe-americas{
    font-size: 23px;
    top: 10px;
}
.message-apply .message-number{
    position: absolute;
    width: 13px;
    height: 14px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding-top: -16px;
    padding-left: 4px;
    top: 0px;
    left: 14px;
}
.dropdown-content-message.dropdown-menu{
    left: 670px;
    top: 15px;
    width: auto;
    height: auto;
    padding: 0px;
    background-color: #1d68a7;
    color: white;
}
.dropdown-content-message.dropdown-menu .list-message{
    overflow: auto;
    height: 500px;
    width: 364px;
    background-color: white;
}

.dropdown-content-message.dropdown-menu .list-message::-webkit-scrollbar{
    background-color: #ddd;
    width: 0px;
}
.seen{
    background-color: white;
}
.notseen{
    background-color: #d7e1f3;
}
.text-grey{
    color: rgb(110, 104, 104);

}
.text-black{
    color: rgb(0, 0, 0);
}
.text-blue{
    color: rgb(43, 53, 192);
}
.dropdown-content-message.dropdown-menu .dropdown-item.dropdown-item-message{
    height: auto;
    border-top: 1px solid #aaa;
    font-size: 14px;
    width: 362px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;

}
.message-company-logo{
    padding: 0px;
    width: 50px;
}
.message-info{
    padding-right: 0px;
    padding-left: 0px;
    width: 200px;
    height: auto;
    font-family: Lucidatypewriter, monospace !important;
}

.message-job-content .name{
    height: auto;
    font-weight: 700;
    margin-right: 5px;
    float: left;

}

.message-info .message-date{
    font-weight: 700;
}
 .recruiter-avatar{
     float: right;
     position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
     left: -30px;
     top: 4px;
}

 .recruiter-avatar img{
    border-radius: 50%;
}