body{
    font-family: Arial, Helvetica, sans-serif;
}
.list-seeker{
    width: 100%;
    height: auto;
}

.list-seeker .seeker-item{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: rgb(247, 239, 229);
    margin-bottom: 20px;
    margin-left: 0px;
}
.seeker-name{
    display: flex;
}
.fa-user-tie{
    margin-right: 20px;
}
.seeker-gender{
    color: #555;
    margin-top: 20px;
    font-size: 14px;
}
.fa-transgender{
    margin-right: 12px;
    margin-left: 15px;
    font-size: 15px;
}
.seeker-email{
    color: #555;
    font-size: 14px;

}
.fa-envelope{
    margin-right: 9px;
    margin-left: 15px;
}
.seeker-phone{
    color: #555;
    font-size: 14px;


}
.fa-phone-volume{
    margin-right: 18px;
    margin-left: 15px;
}

.seeker-education{
    color: #555;
    font-size: 14px;


}
.fa-graduation-cap{
    margin-right: 11px;
    margin-left: 15px;
}

.date-apply{
    color: rgb(39, 55, 143);
    font-size: 14px;
    margin-top: 10px;
    font-style: italic;
}

.fa-calendar-alt{
    margin-right: 15px;
    margin-left: 15px;
}

/* button */
.button{
}