body{
    font-family: Arial, Helvetica, sans-serif;
}
.list-seeker{
    width: 100%;
    height: auto;
}

.list-seeker .seeker-item{
    width: 100%;
    height: 215px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: rgb(247, 239, 229);
    margin-bottom: 20px;
    margin-left: 0px;
}
.job-name{
    font-size: 14px;
    font-weight: bold;
    margin-left: 18px;
    color: red;
}
.seeker-name{
    display: flex;

}
.fa-user-tie{
    margin-right: 5px;
}
.seeker-gender{
    color: #555;
    margin-top: 5px;
    font-size: 14px;
    margin-left: 5px;
}
.fa-transgender{
    margin-right: 15px;
    margin-left: 15px;
    font-size: 15px;
}
.seeker-email{
    color: #555;
    font-size: 14px;
    margin-left: 5px;

}
.fa-envelope{
    margin-right: 14px;
    margin-left: 15px;
}
.seeker-phone{
    color: #555;
    font-size: 14px

}
.fa-phone-volume{
    margin-right: 18px;
    margin-left: 20px;
}

.seeker-education{
    color: #555;
    font-size: 14px;


}
.fa-graduation-cap{
    margin-right: 11px;
    margin-left: 18px;
}

.date-apply{
    color: rgb(39, 55, 143);
    font-size: 14px;
    margin-top: 10px;
    font-style: italic;
}

.fa-calendar-alt{
    margin-right: 15px;
    margin-left: 18px;
}

/* button */
.button{
}
.breadcrumb.mb-4{
    background-color: #ccc;
    color: #000;
}

.breadcrumb.mb-4 .active{
    color: #fff;
}
.form-inline{
    margin-left: 65%;
    margin-bottom: 30px;
    border-bottom: 2px solid #22f;

}
.btn-search-seeker{
    border: none;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
.btn-search-seeker:hover{
    background-color: #1d68a7;
    color: white;
}
.input-seekername{
    height: 40px;
    width: 320px;
    border: none;
    float: right;
    background-color: #eeeeee;
    border-inline: none;
}