/* Toolbar */
.toolbar{
    height: 60px;
    width: 100%;
    background-color:#222;
    position: fixed;

}
.toolbar-content{
    width: 78%;
    height: 60px;
    padding-top: 10px;
    display: flex;
    margin: auto;
}

.toolbar-content .logo{
    height: 40px;
    width: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 20px;
}

.toolbar-content .btn-alljob{
    height: 40px;
    width: 100px;

}
.toolbar-content .btn-company{
    height: 40px;
    width: 120px;
    margin-left: 20px;


}
.toolbar-content .btn-login{
    height: 40px;
    width: 100px;
    margin-left: 360px;



}
.toolbar-content .btn-recruiter{
    height: 40px;
    width: 135px;
    margin-left: 10px;


}
.btn{
    background-color:#222;
    border: none;
}

/* Main */
.main{
    height: auto;
    width: 100%;
    padding-top: 60px;
}

/* Footer */
.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
}