.content-container .content-title{
    font-size: 35px;
}

.content-container .content-list-company{
    width: 100%;
    height: auto;
}

.content-list-company .company-item{
    height: 400px;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 30px;
    position: relative;
}

/* Company item */
.company-item .company-item-logo{
   background-color: thistle;
   height: 220px;
   width: 70%;
   position: absolute;
   left: 15%;
   right: 15%;

}

.company-item .company-item-name{
    font-size: 21px;
    width: 90%;
    text-align: center;
    margin-top: 230px;
    position: absolute;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    left: 5%;
   right: 5%;
}

.company-item .company-item-info{
    display: flex;
    margin-top: 280px;
    width: 100%;
    position: absolute;
    height: 50px;
    padding-left: 20%;
}

.company-item .company-item-info .job-number{
    font-size: 16px;
}

.company-item .company-item-info .company-address{
    font-size: 16px;
    margin-top: 40px;
    margin-left: 5px;
}