.fa{
    color: #aaaaaa;
}

.job-image{
    height: 200px;
    width: 94%;
    margin: auto;
    background-color: rgb(80, 104, 104);
    margin-bottom: 40px;
}
.col-4 .company-logo{
   height: 180px;
   width: 100%;
   background-color: brown;
}
.col-4 .company-detail{
    height: 500px;
    width: 100%;
}
.col-4 .company-detail .company-name{
    width: 100%;
    text-align: center;
}
.col-4 .company-detail .company-introduction{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.col-4 .company-detail .company-typebusiness{
    margin-bottom: 10px;
    display: flex;
}
.typbusiness-name{
    margin-left: 15px;
    font-size: small;

}
.col-4 .company-detail .company-size{
    display: flex;
    margin-bottom: 10px;

}
.size-value{
    margin-left: 10px;
    font-size: small;

}
.col-4 .company-detail .company-address{
    display: flex;
    margin-bottom: 10px;

}
.address-value{
    margin-left: 20px;
    font-size: small;
}

.col-4 .company-detail .company-workday{
    display: flex;
    margin-bottom: 10px;

}
.workday-value{
    margin-left: 17px;
    font-size: small;
}
.col-4 .company-detail .company-worktime{
    display: flex;
    margin-bottom: 10px;

}
.worktime-value{
    margin-left: 17px;
    font-size: small;
}
/* Right */
.col-8{
    padding-left: 40px;
}
.col-8 .skill{
    height: 30px;
    width: 100%;
    display: flex;

}
.skill .language-name{
   text-align: center;
   height: 30px;
   width: 80px;
   border: 1px solid #aaaaaa;
   margin-right: 10px;
}
.col-8 .language-name:hover{
    cursor: pointer;
    color: #f00;
    border: 1px solid #f00;
}

.col-8 .job-address{
    display: flex;
    margin-top: 20px;
    text-align: center;
}
.col-8 .date-up-job{
    display: flex;
    margin-top: 10px;
    text-align: center;
}
.col-8 .date-up-job .date-up-job-value{
    margin-left: 18px;
    font-size: small;
}
.col-8 .description-title{
    margin-top: 40px;
}

.col-8 .require-title{
    margin-top: 40px;
}

.btn-apply.btn.btn-danger{
    margin-top: 30px;
    width: 100%;
}