.page-header{
    background-color: white;
    height: 200px;
    width: 100%;
    display: flex;
}
/* company logo */
.page-header .company-logo{
    height: 100%;
    width: 20%;
}

.company-logo .logo{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 10%;
}
/* company info */

.page-header .company-info{
    height: 100%;
    width: 60%;
}

.company-info .company-name{
    font-size: 32px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.company-info .company-address{
    display: flex;
    margin-bottom: 5px;
    margin-top: 20px;
}
.company-address .fa-map-marker-alt{
    color: #aaaaaa; 
    margin-top: 5px; 
    font-size: 18px;
}
.company-address .address-value{
    margin-left: 12px;
    font-size: 18px;
}
.company-info .company-type{
    display: flex;
    margin-bottom: 5px;
}
.company-type .type-business{
    margin-left: 10px;
    font-size: 18px;
}

.company-type .fa-users{
    color: #aaaaaa; 
    margin-top: 5px; 
    font-size: 18px;
    margin-left: 20px;
    margin-right: 8px;
}

.company-type .fa-globe{
    color: #aaaaaa; 
    margin-top: 5px; 
    font-size: 18px;
    margin-left: 20px;
    margin-right: 8px;
}

.company-info .company-date-work{
    display: flex;
    margin-bottom: 5px;
}


.company-date-work .work-day{
    margin-left: 12px;
    font-size: 18px;
}

.company-date-work .fa-calendar-alt{
    color: #aaaaaa; 
    margin-top: 5px; 
    font-size: 17px;
}

.company-info .company-over-time{
    display: flex;
    margin-bottom: 5px;
}

.company-over-time .fa-clock{
    color: #aaaaaa; 
    margin-top: 5px; 
    font-size: 17px;
}

.company-over-time .over-time{
    margin-left: 12px;
    font-size: 18px;
}
/* company event */
.page-header .company-event{
    height: 100%;
    width: 20%;
}

.company-event .btn-review{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.company-event .btn-follow{
    width: 90%;
    margin: auto;
    border: 1px solid #aaaaaa;
    margin-top: 10px;

}

/* page content */
.page-content{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* job list */
.page-content .item-list{
    width: 100%;
    height: auto;
    padding: 10px;
}

.item-list .navigation-item{
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid #cccccc;
}

.item-list .job-list{
    background-color: white;
    height: auto;
    width: 100%;
}
.navigation-item .btn-job-item{
    width: 160px;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: red;
    padding: 10px;
    border: 1px solid #bbbbbb;

}
.navigation-item .btn-review-item{
    width: 160px;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: red;
    padding: 10px;
    margin-left: 0px;
    border: 1px solid #bbbbbb;

}

.job-list .company-name-title{
    font-size: 29px;
    margin-left: 20px;
    width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    padding-right: 10px;
    margin-bottom: 40px;
}

.job-list .job-item{
    width: 100%;
    height: 220px;
    background-color: rgb(233, 230, 233);
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
.job-list .job-item:hover{
    cursor: pointer;
    border: 2px solid #bbb;
}
.job-list .job-item .company-logo{
    width: 15%;
    height: 100%;
}
.job-item .company-logo .logo{
    height: 75px;
    width: 75px;
    margin: auto;
    margin-top: 30px;
    margin-left: 20px;
}
/* job info */
.job-list .job-item .job-info{
    width: 67%;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
}
.job-info .job-name{
    
}
.job-info .job-salary{
    color: red;
}

.job-info .job-description{
    color: #555;
    font-size: 14px;
    margin-top: 15px;
}
.job-info .job-skill{
    margin-top: 30px;
    width: 100%;
    display: flex;
}
.job-info .job-skill .skill-item{
    width: auto;
    height: 24px;
    border: 1px solid #bbb;
    margin-right: 13px;
    color: #666;
    text-align: center;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;

}
/* job status css */
.job-list .job-item .job-status{
    width: 18%;
    height: 100%;
    padding-right: 20px;
}
.job-status .hot-title{
    background-color: coral;
    text-align: center;
    width: 60px;
    height: 25px;
    border: none;
    font-size: 14px;
    color: white;
    margin: auto;
    margin-top: 30px;
    float: right;
}

.job-status .job-city{
    margin: auto;
    margin-top: 40px;
    font-size: 14px;
    color: #555;
    margin-left: 25px;
    float: right;


}

.job-status .job-created{
    font-size: 14px;
    color: rgb(72, 72, 207);
    margin: auto;
    margin-top: 55px;
    margin-left: 25px;
    float: right;
}
/* review hot  */
.page-content .review-hot{
    background-color: brown;
    width: 100%;
    height: 400px;
    padding: 10px;
}