.page-header{
    background-color: white;
    height: 200px;
    width: 100%;
    display: flex;
}
/* company logo */
.page-header .company-logo{
    height: 100%;
    width: 20%;
}

.company-logo .logo{
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: brown;
    margin-top: 10%;
}
/* company info */

.page-header .company-info{
    height: 100%;
    width: 60%;
}

.company-info .company-name{
    font-size: 32px;
}

.company-info .company-address{
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
}
.company-address .fa-map-marker-alt{
    color: #aaaaaa; 
    margin-top: 5px; 
    font-size: 18px;
}
.company-address .address-value{
    margin-left: 10px;
    font-size: 18px;
}
.company-info .company-type{
    display: flex;
    margin-bottom: 10px;
}
.company-type .type-business{
    margin-left: 10px;
    font-size: 18px;
}

.company-info .company-date-work{
    display: flex;
    margin-bottom: 10px;
}
/* company event */
.page-header .company-event{
    height: 100%;
    width: 20%;
    background-color: aquamarine;
}