.title{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 20px;
}
.job-list{
    height: auto;
    padding-top: 60px;
    width: 78%;
    margin: auto;
}
.job-list .job-item{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #eee;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.job-list .job-item:hover{
    border: 1px solid #ccc;
    cursor: pointer;
}
.job-list .job-item .company-logo{
    width: 15%;
    height: 100%;
}
.company-logo .logo{
    height: 75px;
    width: 75px;
    margin: auto;
    background-color: yellow;
    margin-top: 40px;
}
/* job info */
.job-list .job-item .job-info{
    width: 70%;
    height: 100%;
    padding: 10px;
    padding-top: 30px;
}
.job-info .job-name h3 a{
    color: black;

}
.job-info .job-salary{
    color: red;
}

.job-info .job-benifit{
    font-weight: bold;
    font-size: 15px;
}
.job-info .job-description{
    color: #555;
    font-size: 14px;
    margin-top: 15px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.job-info .job-skill{
    margin-top: 15px;
    width: 100%;
    display: flex;
}
.job-info .job-skill .skill-item{
    width: auto;
    height: 24px;
    border: 1px solid #555;
    margin-right: 13px;
    color: #555;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
}
/* job status css */
.job-list .job-item .job-status{
    width: 15%;
    height: 100%;
}
.job-status .hot-title{
    background-color: coral;
    text-align: center;
    width: 60px;
    height: 25px;
    border: none;
    font-size: 14px;
    color: white;
    margin: auto;
    margin-top: 40px;
}

.job-status .job-city{
    margin: auto;
    margin-top: 60px;
    font-size: 14px;
    color: #555;
    margin-left: 25px;
}

.job-status .job-created{
    font-size: 14px;
    color: rgb(72, 72, 207);
    margin: auto;
    margin-top: 90px;
    margin-left: 25px;
}