
span{
    color: red;
    font-weight: 500;
    font-size: 14px;
}
.active-border{
    border: 1px solid red;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.apply-container{
    width: 78%;
    margin: auto;
    height: auto;
    background-color: #eed;
    padding-top: 90px;
    padding-bottom: 30px;
}

.apply-container .apply-content{
    width: 90%;
    height: calc(100% - 40px);
    margin: auto;
}
.apply-container .apply-content .title{
    margin-bottom: 40px;
}
.apply-container .apply-content .title h3{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-group{
    margin-top: 30px;
}

.btn-danger{
    width: 100%;
}
#displayImg{
    width: 50px;
    height: 70px;
    margin-top: -82px;
    margin-left: 30px;
}
#avatarSeeker{

    border: 1px solid #666;
}
#inputAvatar{
    margin-top: 60px;
}
#label-inputAvatar{
    margin-top: 60px;

}
