/* Toolbar */
.toolbar{
    height: 60px;
    width: 100%;
    background-color:#222;
    position: fixed;
    z-index: 3;

}
.toolbar-content{
    width: 78%;
    height: 60px;
    padding-top: 10px;
    display: flex;
    margin: auto;
}

.toolbar-content .logo{
    height: 50px;
    width: 145px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 20px;
    position: absolute;
    margin-top: -7px;
}
.toolbar-content a:hover{
    background-color: #a1aaa5;
}

.toolbar-content .btn-alljob{
    height: 40px;
    width: 110px;
    left: 160px;
    position: absolute;
    background-color:#222;
    border: none;

}
.toolbar-content .line1{
    height: 30px;
    left: 425px;
    position: absolute;
    border-left: 1px solid #ddd;
    top: 15px;

}
.toolbar-content .btn-company{
    height: 40px;
    width: 120px;
    left: 430px;
    position: absolute;
    background-color:#222;
    border: none;


}

.toolbar-content .btn-login{
    height: 40px;
    width: 100px;
    left: 890px;
    position: absolute;
    background-color:#222;
    border: none;


}
.toolbar-content .line2{
    height: 30px;
    left: 995px;
    position: absolute;
    border-left: 1px solid #ddd;
    top: 15px;

}
.toolbar-content .btn-recruiter{
    height: 40px;
    width: 135px;
    left: 1000px;
    position: absolute;
    background-color:#222;
    border: none;


}
.toolbar-content .message-apply{
    float: right;
    position: absolute;
    left: 760px;
}
.fa-globe-americas{
    font-size: 23px;
    margin-top: 5px;
}
.message-apply .message-number{
    position: absolute;
    width: 13px;
    height: 14px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding-top: -16px;
    padding-left: 4px;
    top: 3px;
    left: 14px;
}
.toolbar-content .seeker-avatar{
    float: right;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 950px;
}

.toolbar-content .seeker-avatar img{
    border-radius: 50%;
}
.toolbar-content .seeker-name{
    color: white;
    position: absolute;
    left: 990px;
    margin-top: 5px;
}

/* Tạo dropdown menu cho user */
.dropdown-user{
    position: absolute;
    display: inline-block;
    left: 1110px;
}
.dropdown-user .dropdown-item{
    background-color: #ffd0c6;
    border-bottom: 1px solid #eee;
    height: 40px;
    font-weight: 600;
    width: 238px;
    padding-left: 10px;
}
.nav-item.dropdown.dropdown-user .dropdown-content .dropdown-item .fa.fa-edit{
    margin-left: 15px;
}
.dropdown-user .dropdown-item:last-child{
    color: red;
}
.dropdown-user .dropdown-item:hover{
    background-color: #eee;
}

.fa-chevron-circle-down{
    color: white;
    font-size: 17px;
}
.dropdown-user .dropdown-content{
    display: none;
    z-index: 1;
    list-style: none;
    position: absolute;
    left: -50px;
}

.dropdown-user:hover .dropdown-content{
    display: block;
}
.fa-caret-down{
    font-size: 23px;
}

/* Tạo dropdown cho việc làm */
.dropdown-job{
    position: relative;
    display: inline-block;
    left: 5px;
}

.dropdown-job .dropdown-content .dropdown-item{
    background-color: #444;
    border-bottom: 1px solid #eee;
    height: 40px;
    font-weight: 600;
    width: 238px;
    color: white;
    font-size: 13px;
    padding-top: 10px;
    position: relative;
}
.dropdown-job .dropdown-content .dropdown-item .fa-chevron-right{
    position: absolute;
    left: 220px;
} 
.dropdown-job .dropdown-content .dropdown-item:hover{
    background-color: #aaa;
}

.dropdown-job .dropdown-content{
    display: none;
    z-index: 1;
    list-style: none;
    position: absolute;
    top: 41px;
    left: 170px;
}

.dropdown-job:hover .dropdown-content{
    display: block;
}

/* Tạo dropdown cho việc làm theo kỹ năng */
.dropdown-content-skill.row{
    z-index: 1;
    position: absolute;
    left: 252px;
    top: 0;
    min-width: 450px;
    display: none;
}
.dropdown-content-skill .dropdown-item.dropdown-item-skill.col-md-3{
    height: 40px;
    border: none;
    font-size: 13px;
    padding-left: 10px;
    width: auto;
}
.job-by-skill-menu:hover .dropdown-content-skill.row{
    display: flex;
}
/* Tạo dropdown cho việc làm theo vị trí */
.dropdown-content-position.row{
    z-index: 1;
    position: absolute;
    left: 252px;
    top: 0;
    width: 520px;
    display: none;
}
.dropdown-content-position .dropdown-item.dropdown-item-position.col-md-3{
    height: 40px;
    border: none;
    font-size: 13px;
    padding-left: 10px;
}
.job-by-position-menu:hover .dropdown-content-position.row{
    display: flex;
}
/* Tạo dropdown cho việc làm theo thành phố */
.dropdown-content-city.row{
    z-index: 1;
    position: absolute;
    left: 252px;
    top: 0;
    display: none;
    width: 440px;
}
.dropdown-content-city .dropdown-item.dropdown-item-city.col-md-3{
    height: 40px;
    border: none;
    font-size: 13px;
    padding-left: 10px;
}
.job-by-city-menu:hover .dropdown-content-city.row{
    display: block;
}
/* Tạo dropdown cho việc làm theo công ty */
.dropdown-content-company{
    z-index: 1;
    position: absolute;
    left: 238px;
    top: 0;
    width: auto;
    display: none;
}
.dropdown-content-company .dropdown-item.dropdown-item-company{
    height: 40px;
    border: none;
    font-size: 13px;
    padding-left: 10px;
    width: auto;
}
.job-by-company-menu:hover .dropdown-content-company{
    display: block;
}
/* Tạo dropdown cho thông báo */

.dropdown-content-message.dropdown-menu{
    left: 892px;
    top: 40px;
    background-color: #1d68a7;
    color: white;
}
.dropdown-content-message.dropdown-menu .list-message{
    overflow-x: auto;
    height: 300px;
    width: 380px;
    background-color: white;
    margin-bottom: 0px;
}

.dropdown-content-message.dropdown-menu .list-message::-webkit-scrollbar{
    background-color: #ddd;
}
.seen{
    background-color: white;
}
.notseen{
    background-color: #d7e1f3;
}
.text-grey{
    color: rgb(110, 104, 104);

}
.text-black{
    color: rgb(0, 0, 0);
}
.text-blue{
    color: rgb(43, 53, 192);
}
.dropdown-content-message.dropdown-menu .dropdown-item.dropdown-item-message{
    height: auto;
    border-bottom: 1px solid #aaa;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;

}
.message-company-logo{
    padding: 0px;
    width: 50px;
}
.message-info{
    padding-right: 0px;
    padding-left: 0px;
    width: 100px;
    height: auto;

}
.message-job-content .name{
    width: 250px;
    height: auto;
    font-weight: 700; 
    margin-right: 5px;
}

.message-info .message-date{
   font-weight: 700;
}
/* Main */
.main{
    height: auto;
    width: 100%;
    padding-top: 0px;
    z-index: 2;
}

/* Footer */
.footer{
    width: 100%;
    height: 300px;
    background-color:#222;
    z-index: 1;
}

.footer .footer-container{
    width: 78%; 
    height: 100%; 
    margin: auto; 
    padding-top: 20px;
    font-weight: 500;
}
.footer-container .contact-title{
    color: white;
}
.footer-container ul li{
    color: white;
    font-weight: 300;
}

.footer-container .row{
    margin-top: 40px;
}
.footer-container .row .col-md-4{
    color: white;
}
.footer-container .row .col-md-4 a{
    color: white;
    font-weight: 300;
}