.content{
    width: 100%;
    height: auto;
    background-color: rgb(219, 219, 241);
    padding-top: 60px;
}
.content-container{
    height: calc(100% - 60px);
    width: 78%;
    margin: auto;
    padding-right: 0px;
}
.page-header{
    background-color: white;
    height: 200px;
    width: 100%;
    display: flex;
}
/* company logo */
.page-header .company-logo{
    height: 100%;
    width: 20%;
}

.company-logo .logo{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 10%;
}
/* company info */

.page-header .company-info{
    height: 100%;
    width: 60%;
}

.company-info .company-name{
    font-size: 32px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.company-info .company-address{
    display: flex;
    margin-bottom: 5px;
    margin-top: 20px;
}
.company-address .fa-map-marker-alt{
    color: #aaaaaa; 
    margin-top: 5px; 
    font-size: 18px;
}
.company-address .address-value{
    margin-left: 12px;
    font-size: 18px;
}
.company-info .company-type{
    display: flex;
    margin-bottom: 5px;
}
.company-type .type-business{
    margin-left: 10px;
    font-size: 18px;
}

.company-type .fa-users{
    color: #aaaaaa; 
    margin-top: 5px; 
    font-size: 18px;
    margin-left: 20px;
    margin-right: 8px;
}

.company-type .fa-globe{
    color: #aaaaaa; 
    margin-top: 5px; 
    font-size: 18px;
    margin-left: 20px;
    margin-right: 8px;
}

.company-info .company-date-work{
    display: flex;
    margin-bottom: 5px;
}


.company-date-work .work-day{
    margin-left: 12px;
    font-size: 18px;
}

.company-date-work .fa-calendar-alt{
    color: #aaaaaa; 
    margin-top: 5px; 
    font-size: 17px;
}

.company-info .company-over-time{
    display: flex;
    margin-bottom: 5px;
}

.company-over-time .fa-clock{
    color: #aaaaaa; 
    margin-top: 5px; 
    font-size: 17px;
}

.company-over-time .over-time{
    margin-left: 12px;
    font-size: 18px;
}
/* company event */
.page-header .company-event{
    height: 100%;
    width: 20%;
}

.company-event .btn-review{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    background-color: #ec1b30;
    color: white;
}
.company-event .btn-review-nologin{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    background-color: #ec1b30;
    color: white;
}
.company-event .btn-follow{
    width: 90%;
    margin: auto;
    border: 1px solid #aaaaaa;
    margin-top: 10px;
    background-color: #fffdfb;


}

/* page content */
.page-content{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* job list */
.page-content .item-list.active{
    width: 100%;
    height: auto;
    padding: 10px;
    display: block;
}

.item-list .navigation-item{
    width: 100%;
    height: 60px;
    background-color: rgb(233, 230, 233);
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    margin-bottom: 0px;

}

.navigation-item .btn-job-item.active{
    width: 160px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #f44;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-top: 5px solid #f44;

}
.navigation-item .btn-job-item.active:hover{
    cursor: pointer;
    background-color: rgb(250, 201, 201);
}
.navigation-item .btn-review-item{
    width: 160px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin-left: 0px;
    border: none;
    background-color: rgb(233, 230, 233);
}

.active{
    display: block;
}
/* item list css */
ul#tabs{
    list-style-type: none;
    padding: 0;
    height: auto;
}
ul#tabs li {
    width: 160px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #555;
    padding: 10px;
    margin-left: 0px;
    border: none;
    background-color: rgb(233, 230, 233);
}
ul#tabs li:hover{
    cursor: pointer;
    background-color: rgb(250, 201, 201);
}
ul#tabs li.active {
    background-color: #fff;
    border-top: 5px solid #f44;
    color: #f44;
}
ul#tab{
    list-style-type: none;
    padding: 0;
}
ul#tab li{
    display: none;
    height: auto;
}
ul#tab li.active{
    display: block;
    height: auto;
}
#tab .job-list{
    background-color: white;
    height: auto;
    width: 100%;
}
.job-list .company-name-title{
    font-size: 29px;
    margin-left: 20px;
    width: 98%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    padding-right: 10px;
    margin-bottom: 20px;
    height: 100px;
}

.job-list .job-item{
    width: 100%;
    height: 290px;
    background-color:#eee;
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 10px;

}
.job-list .job-item:hover{
    cursor: pointer;
    background-color: #e5e5dd;
}
.job-list .job-item .company-logo{
    width: 15%;
    height: 100%;
}
.job-item .company-logo .logo{
    height: 75px;
    width: 75px;
    margin: auto;
    margin-top: 30px;
    margin-left: 20px;
}
/* job info */
.job-list .job-item .job-info{
    width: 67%;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
}
.job-info .job-name h3 a{
    color: black;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.job-info .job-salary{
    color: red;
}

.job-info .job-description{
    color: #555;
    font-size: 14px;
    margin-top: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.job-info .job-benifit{
    font-weight: bold;
    font-size: 15px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.job-info .job-skill{
    margin-top: 30px;
    width: 100%;
    display: flex;
}
.job-info .job-skill .skill-item{
    width: auto;
    height: 24px;
    border: 1px solid #b0b0b0;
    margin-right: 13px;
    text-align: center;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    color: #535353;
    font-weight: 600;

}
/* job status css */
.job-list .job-item .job-status{
    width: 18%;
    height: 100%;
    padding-top: 20px;
    padding-right: 10px;
}
.job-status .hot-title{
    background-color: coral;
    text-align: center;
    width: 60px;
    height: 25px;
    border: none;
    font-size: 14px;
    color: white;
    margin-left: 30px;


}

.job-status .job-city{
    font-size: 14px;
    color: #555;
    margin-top: 80px;

}

.job-status .job-created{
    font-size: 14px;
    color: rgb(72, 72, 207);
    margin-top: 100px;
}

/* review list */
   .item-list .review-page{
       background-color: rgb(219, 219, 241);
       height: auto;
       width: 100%;
   }

   .review-page .medium-score-review{
       width: 100%;
       height: 120px;
       background-color: white;
       display: flex;
       padding-top: 30px;
       padding-left: 40px;
   }

   .medium-score-review .score-number{
      font-size: 38px;
      font-weight: bold;
      color: yellowgreen;
      margin-right: 20px;
   }
   .medium-score-review .fa-star{
       color: white;
       background-color: #999;
       margin-left: 10px;
       font-size: 35px;
       padding: 5px;
       margin-top: 13px;
       border-radius: 4px;

   }

   .medium-score-review .score_text{
    font-size: 34px;
    font-weight: bold;
       color: #fff;
    margin-left: 20px;
    margin-top: 4px;
       height: 50px;
   }

   .medium-score-review .active{
       background-color: yellowgreen;
   }
   /* review page */
   .review-page .review-list{
       width: 100%;
       height: auto;
       margin-top: 20px;
       background-color: white;
       padding: 15px;
   }

    .review-list .review-number{
       font-size: 25px;
       font-weight: bold;
       width: 100%;
       height: 60px;
       border-bottom: 1px solid #bbb;
       font-family: Arial, Helvetica, sans-serif;
       color: #444;
       padding-top: 5px;
   }

   .review-page .review-list .review-item{
       width: 100%;
       height: auto;
       background-color: #fff;
       padding-top: 15px;
       border-bottom: 1px solid #bbb;
       padding-bottom: 20px;
   }

   .review-item .fa-star{
    color: white;
       background-color: #999;
       margin-left: 3px;
    font-size: 22px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
    float: left;
       margin-bottom: 5px;

   }
   .review-item .active{
       background-color: yellowgreen;

   }
   .review-item .score_text{
       float: left;
       font-size: 17px;
       font-weight: bold;
       color: #fff;
       margin-left: 10px;
       margin-top: 10px;
       font-family: Arial, Helvetica, sans-serif;
   }

   .review-item .review-date{
       font-size: 14px;
       clear: both;
       margin-left: 5px;
       color: #44f;
   }

   .review-item .good-review-title{
       font-size: 20px;
       font-weight: 500;
       color: #666;
       margin-top: 15px;
   }
   .review-item .good-review-content{
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
    color: #666;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
   }
    .review-item .notgood-review-title{
        font-size: 20px;
        font-weight: 500;
        color: #666;
        margin-top: 10px;
    }

    .review-item .notgood-review-content{
        font-size: 15px;
        font-weight: 400;
        margin-left: 10px;
        color: #666;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
       }


       /* review form */
     .review-form{
         width: 100%;
         height: auto;
         background-color: #fff;
         margin: 0px;
     }

     .review-form .review-form-title{
         font-size: 25px;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: 600;
     }

     .review-form .fa-star{
        color: white;
        background-color: #999;
        margin-left: 3px;
        font-size: 22px;
        padding: 5px;
        margin-top: 5px;
        border-radius: 4px;
        float: left;
        /* background-color: yellowgreen; */

    
       }
       .review-form .fa-star:hover
        {
            cursor: pointer;
        }
       .review-form .score_text{
           float: left;
           font-size: 17px;
           font-weight: bold;
           margin-left: 10px;
           color: #fff;
           margin-top: 5px;
           font-family: Arial, Helvetica, sans-serif;
       }
       .list_star .rating_active{
        background-color: yellowgreen;
       }
.score_text{
    display: inline-block;
    margin-left: 10px;
    position: relative;
    background: #52b858;
    color: #fff;
    padding: 2px 8px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 2px;
    margin-bottom: 10px;
    display: none;

}

.score_text:after
{
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(82,184,88,0);
    border-right-color: #52b858;
    border-width: 6px;
    margin-top: -6px;
}

/* review hot  */
.page-content .review-hot{
    width: 100%;
    height: auto;
    padding: 10px;
    padding-top: 0px;
    padding-right: 0;
}

.review-hot .review-banner{
    background-color: #fff;
    width: 100%;
    height: 220px;
    padding: 15px;
}

.review-banner .review-title{
    color: black;
    font-size: 25px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.review-banner .review-label{
    color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;

}

.review-banner .btn-review2{
    background-color: #ec1b30;
    margin: auto;
    width: 100%;
    margin-top: 25px;
    height: 48px;
    font-size: 22px;
}
.review-banner .btn-review2-nologin{
    background-color: #ec1b30;
    margin: auto;
    width: 100%;
    margin-top: 25px;
    height: 48px;
    font-size: 22px;
}

/* Review hot */
.review-hot .review-hot-list{
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 15px;    
}

.review-hot .review-hot-list .review-hot-item{
    width: 100%;
    height: 200px;
    margin-top: 40px;
    border-bottom: 1px solid #ddd;
}

.review-hot-list .review-hot-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 500;
}

.review-hot-item .review-hot-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.review-hot-item .fa-star{
    color: white;
    background-color: #999;
    margin-left: 0px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 4px;
    font-size: 20px;
    /* background-color: yellowgreen; */
}
.review-hot-item .good-review{
    margin-top: 10px;
}

.review-hot.list_star .active{
    background-color: yellowgreen;
}

.hide{
    display: none;
}
.show{
    display: block;
}