.header{
    width: 100%;
    height: 310px;
    background-color:#222;
}
.header-container{
    width: 78%;
    height: 100%;
    margin: auto;
    padding-top: 40px;
}

.header-search{
    width: 100%;
    height: 60px;
    margin-top: 40px;
}
.header-search .skill-search{
    height: 100%;
    width: 580px;
    background-color: white;
}
.skill-search .fa-search{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    color: #999;
}
.skill-search .search-input{
    margin-left: 10px;
    height: calc(100% - 2px);
    margin-top: 0;
    width: 512px;
    font-size: 20px;
    border: none;
    outline: none;
    
}
.header-search .city-search{
    height: 100%;
    width: 250px;
    margin-left: 10px;
    background-color: white;
}
.city-search .fa-map-marker-alt{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    color: #999;
}
.city-search #city-select{
    height: calc(100% - 2px);
    width: 210px;
    font-size: 20px;
    outline: none;
    border: none;

}
.header-search .btn-search{
    height: 100%;
    width: 160px;
    margin-left: 10px;
    padding-top: 12px;
    background-color: #ff263a;

}

.position{
    display: flex;
    margin-top: 60px;
}
.position #position{
    margin-right: 5px;
}

.header-container .title-item{
    width: 100%;
    background-color: white;
    height: 75px;
    border-bottom: 1px solid #ddd;
    margin-top: 95px;
    display: flex;
}

.title-item .list-job-title{
    width: 73%;
    height: 100%;

}
.list-job-title .job-title{
    font-size: 35px;
    margin-left: 10px;
    margin-top: 10px;
}
.title-item .company-title{
    width: 27%;
    height: 100%;
}

.company-title .company-hot-title{
    font-size: 23px;
    margin: auto;
    margin-left: 15px;
    margin-top: 20px;
}
/* Content */
.content{
    width: 100%;
    height: auto;
    background-color: rgb(219, 219, 241);
    padding-bottom: 50px;
}
.content-container{
    height: calc(100% - 60px);
    width: 78%;
    margin: auto;
}
.main{
    width: 100%;
    height: 100%;
    background-color: white;
}
.main .content-job{
    height: auto;
    width: calc(100% - 20px);
    margin: auto;
    display: flex;
}
.job-list{
    width: 73%;
    height: auto;
}
.job-list .job-item{
    display: flex;
    width: 100%;
    height: 290px;
    background-color: #eee;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.job-list .job-item:hover{
    border: 1px solid #ccc;
    cursor: pointer;
}
.job-list .job-item .company-logo{
    width: 15%;
    height: 100%;
}
.company-logo .logo{
    height: 75px;
    width: 75px;
    margin: auto;
    background-color: yellow;
    margin-top: 40px;
}
/* job info */
.job-list .job-item .job-info{
    width: 70%;
    height: 100%;
    padding: 10px;
    padding-top: 30px;
}
.job-info .job-name h3 a{
    color: black;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.job-info .job-salary{
    color: red;
}

.job-info .job-benifit{
    font-weight: bold;
    font-size: 15px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.job-info .job-description{
    color: #555;
    font-size: 14px;
    margin-top: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.job-info .job-skill{
    margin-top: 15px;
    width: 100%;
    display: flex;
}
.job-info .job-skill .skill-item{
    width: auto;
    height: 24px;
    border: 1px solid #555;
    margin-right: 13px;
    color: #555;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
}
/* job status css */
.job-list .job-item .job-status{
    width: 15%;
    height: 100%;
}
.job-status .hot-title{
    background-color: coral;
    text-align: center;
    width: 60px;
    height: 25px;
    border: none;
    font-size: 14px;
    color: white;
    margin: auto;
    margin-top: 20px;
}

.job-status .job-city{
    font-size: 14px;
    color: #555;
    margin-top: 80px;
    margin-left: calc(50% - 20px);
}

.job-status .job-created{
    font-size: 14px;
    color: rgb(72, 72, 207);
    margin-left: calc(50% - 50px);
    margin-top: 90px;
}
/* company hot */
.company-hot{
    width: 27%;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 30px;
}

.company-hot .company-image{
    height: 130px;
    width: 90%;
    background-color: yellow;
    margin: auto;
    margin-top: 20px;
    padding-top: 90px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.company-hot .company-logo{
    width: 75px;
    height: 75px;
    background-color: #1b4b72;
    margin: auto;
    border: 1px solid #ddd;

}

.company-hot .company-name a h5{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    color: black;
}

.company-hot .company-city{
    width: 100%;
    text-align: center;
    color: #888;
    margin-top: 0px;
    font-size: 15px;
}

.company-hot .company-introduction{
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.company-hot .job-item{
    width: 100%;
    height: 90px;
    border-top: 1px solid #ccc;
    text-align: center;
    padding-top: 25px;
}

.company-hot .job-item .job-name{
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;

}

.company-hot .job-number{
    width: 100%;
    text-align: center;
    height: 20px;
    margin-top: 0;
}
.job-number a{
    color: #f22;
    font-size: 15px;
    height: 20px;
    
}