.content{
    width: 100%;
    height: 100%;
    background-color: rgb(219, 219, 241);
    padding-bottom: 30px;
    padding-top: 30px;
}
.signup-layout{
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
span{
    color: red;
}
.title{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #222222;
    margin-bottom: 20px;
}
h6{
    font-weight: bold;
}
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    padding-top: 10px;
}
.form{
    background-color: white;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{

    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
    float: right;
}
#package-select{
    margin-top: 50px;
}
.hide-package{
    display: none;
}
.show-package{
    display: block;
}
.account-item-select{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: #222222;


}
.account-item-select .package-name{
    width: auto;
    margin: auto;
    color: white;
    font-weight: 700;
    padding-left: 180px;
    text-decoration: none;
    color: red;

}
.account-item-select .price{
    color: white;
    padding-left: 40px;
    display: flex;
    text-decoration: none;

}
.account-item-select .post-number{
    color: white;
    padding-left: 40px;
    display: flex;
    text-decoration: none;

}
.account-item-select .price .price-label{
    font-weight: 600;
    margin-right: 90px;
}
.account-item-select .post-number .postnumber-label{
    font-weight: 600;
    margin-right: 20px;
}